<h1>Create a User</h1>
<form action = '/users' method = 'POST'>
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	Enter a name: <input type = 'text' name = 'Name'>
	Enter an email: <input type = 'text' name = 'Email'>
	Enter a password: <input type = 'text' name = 'Password'>
	Confirm your password: <input type = 'text' name = 'Password_Confirmation'>
	<input type = 'submit' value = 'Join'>
</form>